################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomConfigProvider/bin/Debug/net6.0
/CustomConfigProvider/obj
